statemachine/all-Copy1.json
{
  "Comment": "Get all data",
  "StartAt": "GetMonths",
  "States": {
    "GetMonths": {
      "Next": "MapMonths",
      "Type": "Task",
      "Resource": "${Controller}",
      "Parameters": {
        "function": {
          "name": "get_months",
          "parameters": {
          }
        },
        "kwargs.$": "$.['variable1', 'placeholder']"
      },
      "ResultPath": "$.GetMonths.result"
    },
    "MapMonths": {
      "End": true,
      "Type": "Map",
      "MaxConcurrency": 1,
      "ItemsPath": "$.GetMonths.result",
      "Parameters": {
        "month.$": "$$.Map.Item.Value"
      },
      "ResultPath": "$.results",
      "Iterator": {
        "StartAt": "FindMissingRawTicks",
        "States": {
          "FindMissingRawTicks": {
            "Next": "MapSaveMissingRawTicks",
            "Type": "Task",
            "Resource": "${Controller}",
            "ResultPath": "$.FindMissingRawTicks.batch_ids",
            "Parameters": {
              "function": {
                "name": "find_missing_raw_ticks",
                "parameters": {
                  "month.$": "$.month",
                  "dynamo_table": "${DynamoTable}"
                }
              }
            }
          },
          "MapSaveMissingRawTicks": {
            "End": true,
            "Type": "Map",
            "MaxConcurrency": 1,
            "ItemsPath": "$.FindMissingRawTicks.batch_ids",
            "Parameters": {
              "batch_ids.$": "$$.Map.Item.Value"
            },  
            "ResultPath": "$.SaveMissingRawTicks.results",
            "Iterator": {
              "StartAt": "MapInnerSaveMissingRawTicks",
              "States": {
                "MapInnerSaveMissingRawTicks": {
                  "End": true,
                  "Type": "Map",
                  "MaxConcurrency": 1,
                  "ItemsPath": "$.batch_ids",
                  "Parameters": {
                    "function": {
                      "name": "save_missing_raw_ticks",
                      "parameters": {
                        "dynamo_table": "${DynamoTable}",
                        "batch_id.$": "$$.Map.Item.Value"
                      }
                    }
                  },
                  "Iterator": {
                    "StartAt": "SaveMissingRawTicks",
                    "States": {
                      "SaveMissingRawTicks": {
                        "End": true,
                        "Type": "Task",
                        "Resource": "${Controller}"
                      }
                    }
                  } 
                }
              }
            } 
          },
          "FindMissingCleanTicks": {
            "Next": "MapSaveMissingCleanTicks",
            "Type": "Task",
            "Resource": "${Controller}",
            "ResultPath": "$.FindMissingCleanTicks.batch_ids",
            "Parameters": {
              "function": {
                "name": "find_missing_clean_ticks",
                "parameters": {
                  "month.$": "$.month",
                  "dynamo_table": "${DynamoTable}"
                }
              }
            }
          },
          "MapSaveMissingCleanTicks": {
            "End": true,
            "Type": "Map",
            "MaxConcurrency": 25,
            "ItemsPath": "$.FindMissingCleanTicks.batch_ids",
            "Parameters": {
              "batch_ids.$": "$$.Map.Item.Value"
            },  
            "ResultPath": "$.SaveMissingCleanTicks.results",
            "Iterator": {
              "StartAt": "MapInnerSaveMissingCleanTicks",
              "States": {
                "MapInnerSaveMissingCleanTicks": {
                  "End": true,
                  "Type": "Map",
                  "MaxConcurrency": 25,
                  "ItemsPath": "$.batch_ids",
                  "Parameters": {
                    "function": {
                      "name": "save_missing_clean_ticks",
                      "parameters": {
                        "dynamo_table": "${DynamoTable}",
                        "batch_id.$": "$$.Map.Item.Value"
                      }
                    }
                  },
                  "Iterator": {
                    "StartAt": "SaveMissingCleanTicks",
                    "States": {
                      "SaveMissingCleanTicks": {
                        "End": true,
                        "Type": "Task",
                        "Resource": "${Controller}"
                      }
                    }
                  } 
                }
              }
            } 
          }
        } 
      }
    }
  }
}