statemachine/metaapi-Copy1.json
{
  "Comment": "A description of my state machine",
  "StartAt": "SetupSaveRawTicks",
  "States": {
    "MapSaveRawTicks": {
      "Next": "ChoiceSaveRawTicks",
      "Type": "Task",
      "Resource": "${Pipeline}",
      "Parameters": {
          "function": "setup_save_raw_ticks",
      },
      "InputPath": "$",
      "ResultPath": "$.SaveRawTicks.item_ids"
    },
    "MapSaveRawTicks": {
      "Next": "SetupSaveCleanTicks",
      "Type": "Map",
      "MaxConcurrency": 1,
      "ItemsPath": "$.SaveRawTicks.item_ids",
      "ResultPath": "$.SaveRawTicks.results",
      "Parameters": {
        "function": "save_raw_ticks",
        "item_id.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "SaveRawTicks",
        "States": {
          "SaveRawTicks": {
            "End": true,
            "Type": "Task",
            "Resource": "${Pipeline}"
          }
        }
      } 
    },
    "SetupSaveCleanTicks": {
      "Next": "MapSaveCleanTicks",
      "Type": "Task",
      "Resource": "${Pipeline}",
      "Parameters": {
          "function": "setup_save_clean_ticks",
      },
      "ResultPath": "$.SaveCleanTicks.item_ids",
    },
    "MapSaveCleanTicks": {
      "Next": "SetupSaveCandlesFromTicks",
      "Type": "Map",
      "MaxConcurrency": 0,
      "ItemsPath": "$.SaveCleanTicks.item_ids",
      "ResultPath": "$.SaveCleanTicks.results",
      "Parameters": {
        "function": "save_clean_ticks",
        "item_id.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "SaveCleanTicks",
        "States": {
          "SaveCleanTicks": {
            "End": true,
            "Type": "Task",
            "Resource": "${Pipeline}"
          }
        }
      } 
    },
    "SetupSaveCandlesFromTicks": {
      "Next": "MapSaveCandlesFromTicks",
      "Type": "Task",
      "Resource": "${Pipeline}",
      "Parameters": {
          "function": "setup_save_candles_from_ticks",
      },
      "ResultPath": "$.SaveCandlesFromTicks.item_ids",
    },
    "MapSaveCandlesFromTicks": {
      "Next": "SetupSaveCandlesFFill",
      "Type": "Map",
      "MaxConcurrency": 0,
      "ItemsPath": "$.SaveCandlesFromTicks.item_ids",
      "ResultPath": "$.SaveCandlesFromTicks.results",
      "Parameters": {
        "function": "save_candles_from_ticks",
        "item_id.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "SaveCandlesFromTicks",
        "States": {
          "SaveCandlesFromTicks": {
            "End": true,
            "Type": "Task",
            "Resource": "${Pipeline}"
          }
        }
      }
    },
    "SetupSaveCandlesFFill": {
      "Next": "MapSaveCandlesFFill",
      "Type": "Task",
      "Resource": "${Pipeline}",
      "Parameters": {
          "function": "setup_save_candles_transformed",
          "name_dataset_in": "from_ticks",
          "name_dataset_out": "ffill",
          "function_names": ["ffill"],
      },
      "ResultPath": "$.SaveCandlesFFill.ffill.item_ids",
    },
    "MapSaveCandlesFFill": {
      "Next": "Success",
      "Type": "Map",
      "MaxConcurrency": 0,
      "ItemsPath": "$.SaveCandlesFFill.ffill.item_ids",
      "ResultPath": "$.SaveCandlesFFill.ffill.results",
      "Parameters": {
        "function": "save_candles_transformed",
        "item_id.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "SaveCandlesFFill",
        "States": {
          "SaveCandlesFFill": {
            "End": true,
            "Type": "Task",
            "Resource": "${Pipeline}"
          }
        }
      } 
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}

