statemachine/metaapi.json
{
  "Comment": "A description of my state machine",
  "StartAt": "SetupSaveRawTicks",
  "States": {
    "SetupSaveRawTicks": {
      "Next": "ChoiceSaveRawTicks",
      "Type": "Task",
      "Resource": "${SetupSaveRawTicks}", 
      "ResultPath": "$.ResultSetupSaveRawTicks"
    },
    "ChoiceSaveRawTicks": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ResultSetupSaveRawTicks.n_items",
          "NumericEquals": 0,
          "Next": "SetupSaveCleanTicks"
        }
      ],
      "Default": "MapSaveRawTicks"
    },
    "MapSaveRawTicks": {
      "Next": "SetupSaveRawTicks",
      "Type": "Map",
      "MaxConcurrency": 1,
      "ItemsPath": "$.ResultSetupSaveRawTicks.batches",
      "ResultPath": "$.ResultSaveRawTicks",
      "Parameters": {
        "batch.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "SaveRawTicks",
        "States": {
          "SaveRawTicks": {
            "End": true,
            "Type": "Task",
            "Resource": "${SaveRawTicks}"
          }
        }
      } 
    },
    "SetupSaveCleanTicks": {
      "Next": "ChoiceSaveCleanTicks",
      "Type": "Task",
      "Resource": "${SetupSaveCleanTicks}",
      "ResultPath": "$.ResultSetupSaveCleanTicks",
    },
    "ChoiceSaveCleanTicks": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ResultSetupSaveCleanTicks.n_items",
          "NumericEquals": 0,
          "Next": "Success"
        }
      ],
      "Default": "MapSaveCleanTicks"
    },
    "MapSaveCleanTicks": {
      "Next": "SetupSaveCleanTicks",
      "Type": "Map",
      "MaxConcurrency": 0,
      "ItemsPath": "$.ResultSetupSaveCleanTicks.batches",
      "ResultPath": "$.ResultSaveCleanTicks",
      "Parameters": {
        "batch.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "SaveCleanTicks",
        "States": {
          "SaveCleanTicks": {
            "End": true,
            "Type": "Task",
            "Resource": "${SaveCleanTicks}"
          }
        }
      } 
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}

