statemachine/metaapi.json
{
  "Comment": "A description of my state machine",
  "StartAt": "SetupSaveRawTicks",
  "States": {
    "SetupSaveRawTicks": {
      "Next": "ChoiceSaveRawTicks",
      "Type": "Task",
      "Resource": "${Pipeline}",
      "Parameters": {
          "function": "setup_save_raw_ticks",
          "kwargs.$": "$"
      },
      "ResultPath": "$.SaveRawTicks.inputs"
    },
    "ChoiceSaveRawTicks": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.SaveRawTicks.inputs.n_items",
          "NumericEquals": 0,
          "Next": "SetupSaveCleanTicks"
        }
      ],
      "Default": "MapSaveRawTicks"
    },
    "MapSaveRawTicks": {
      "Next": "SetupSaveRawTicks",
      "Type": "Map",
      "MaxConcurrency": 1,
      "ItemsPath": "$.SaveRawTicks.inputs.batches",
      "ResultPath": "$.SaveRawTicks.results",
      "Parameters": {
        "function": "save_raw_ticks",
        "batch.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "SaveRawTicks",
        "States": {
          "SaveRawTicks": {
            "End": true,
            "Type": "Task",
            "Resource": "${Pipeline}"
          }
        }
      } 
    },
    "SetupSaveCleanTicks": {
      "Next": "ChoiceSaveCleanTicks",
      "Type": "Task",
      "Resource": "${Pipeline}",
      "Parameters": {
          "function": "setup_save_clean_ticks",
          "kwargs.$": "$"
      },
      "ResultPath": "$.SaveCleanTicks.inputs",
    },
    "ChoiceSaveCleanTicks": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.SaveCleanTicks.inputs.n_items",
          "NumericEquals": 0,
          "Next": "SetupSaveCandlesFromTicks"
        }
      ],
      "Default": "MapSaveCleanTicks"
    },
    "MapSaveCleanTicks": {
      "Next": "SetupSaveCleanTicks",
      "Type": "Map",
      "MaxConcurrency": 0,
      "ItemsPath": "$.SaveCleanTicks.inputs.batches",
      "ResultPath": "$.SaveCleanTicks.results",
      "Parameters": {
        "function": "save_clean_ticks",
        "batch.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "SaveCleanTicks",
        "States": {
          "SaveCleanTicks": {
            "End": true,
            "Type": "Task",
            "Resource": "${Pipeline}"
          }
        }
      } 
    },
    "SetupSaveCandlesFromTicks": {
      "Next": "ChoiceSaveCandlesFromTicks",
      "Type": "Task",
      "Resource": "${Pipeline}",
      "Parameters": {
          "function": "setup_save_candles_from_ticks",
          "kwargs.$": "$"
      },
      "ResultPath": "$.SaveCandlesFromTicks.inputs",
    },
    "ChoiceSaveCandlesFromTicks": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.SaveCandlesFromTicks.inputs.n_items",
          "NumericEquals": 0,
          "Next": "SetupSaveCandlesFFill"
        }
      ],
      "Default": "MapSaveCandlesFromTicks"
    },
    "MapSaveCandlesFromTicks": {
      "Next": "SetupSaveCandlesFromTicks",
      "Type": "Map",
      "MaxConcurrency": 0,
      "ItemsPath": "$.SaveCandlesFromTicks.inputs.batches",
      "ResultPath": "$.SaveCandlesFromTicks.results",
      "Parameters": {
        "function": "save_candles_from_ticks",
        "batch.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "SaveCandlesFromTicks",
        "States": {
          "SaveCandlesFromTicks": {
            "End": true,
            "Type": "Task",
            "Resource": "${Pipeline}"
          }
        }
      }
    },
    "SetupSaveCandlesFFill": {
      "Next": "ChoiceSaveCandlesFFill",
      "Type": "Task",
      "Resource": "${Pipeline}",
      "Parameters": {
          "function": "setup_save_candles_transformed",
          "name_dataset_in": "from_ticks",
          "name_dataset_out": "ffill",
          "function_names": ["ffill"],
          "kwargs.$": "$"
      },
      "ResultPath": "$.SaveCandlesFFill.ffill.inputs",
    },
    "ChoiceSaveCandlesFFill": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.SaveCandlesFFill.ffill.inputs.n_items",
          "NumericEquals": 0,
          "Next": "Success"
        }
      ],
      "Default": "MapSaveCandlesFFill"
    },
    "MapSaveCandlesFFill": {
      "Next": "SetupSaveCandlesFFill",
      "Type": "Map",
      "MaxConcurrency": 0,
      "ItemsPath": "$.SaveCandlesFFill.ffill.inputs.batches",
      "ResultPath": "$.SaveCandlesFFill.ffill.results",
      "Parameters": {
        "function": "save_candles_transformed",
        "batch.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "SaveCandlesFFill",
        "States": {
          "SaveCandlesFFill": {
            "End": true,
            "Type": "Task",
            "Resource": "${Pipeline}"
          }
        }
      } 
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}

