statemachine/transformations.json
{
  "Comment": "Get daily data",
  "StartAt": "GetMonths",
  "States": {
    "GetMonths": {
      "Next": "FindMissingCandlesTransformed",
      "Type": "Task",
      "Resource": "${Controller}",
      "Parameters": {
        "function": {
          "name": "get_months",
          "parameters": {
          }
        },
        "kwargs.$": "$.['variable1', 'placeholder']"
      },
      "ResultPath": "$.GetMonths.result"
    },
    "FindMissingCandlesTransformed": {
      "Next": "MapSaveMissingCandlesTransformed",
      "Type": "Task",
      "Resource": "${Controller}",
      "ResultPath": "$.FindMissingCandlesTransformed.batch_ids",
      "Parameters": {
        "function": {
          "name": "find_missing_candles",
          "parameters": {
            "month.$": "$.GetMonths.result[0]",
            "dynamo_table": "${DynamoTable}",
            "name_dataset_in": "from_ticks",
            "name_dataset_out": "transformed",
            "transformations": ["ffill", "ema", "trend_micro"]
          }
        }
      }
    },
    "MapSaveMissingCandlesTransformed": {
      "End": true,
      "Type": "Map",
      "MaxConcurrency": 25,
      "ItemsPath": "$.FindMissingCandlesTransformed.batch_ids",
      "Parameters": {
        "batch_ids.$": "$$.Map.Item.Value"
      },  
      "ResultPath": "$.SaveMissingCandlesTransformed.results",
      "Iterator": {
        "StartAt": "MapInnerSaveMissingCandlesTransformed",
        "States": {
          "MapInnerSaveMissingCandlesTransformed": {
            "End": true,
            "Type": "Map",
            "MaxConcurrency": 25,
            "ItemsPath": "$.batch_ids",
            "Parameters": {
              "function": {
                "name": "save_missing_candles",
                "parameters": {
                  "dynamo_table": "${DynamoTable}",
                  "batch_id.$": "$$.Map.Item.Value"
                }
              }
            },
            "Iterator": {
              "StartAt": "SaveMissingCandlesTransformed",
              "States": {
                "SaveMissingCandlesTransformed": {
                  "End": true,
                  "Type": "Task",
                  "Resource": "${Controller}"
                }
              }
            } 
          }
        }
      } 
    }
  } 
}