statemachine/.ipynb_checkpoints/metaapi-checkpoint.json
{
  "Comment": "A description of my state machine",
  "StartAt": "SetupSaveRawTicks",
  "States": {
    "SetupSaveRawTicks": {
      "Next": "MapSaveRawTicks",
      "Type": "Task",
      "Resource": "${Pipeline}",
      "Parameters": {
          "function": "setup_save_raw_ticks",
          "stop.$": "$.['stop', 'placeholder']"
      },
      "ResultPath": "$.SaveRawTicks.batch_ids"
    },
    "MapSaveRawTicks": {
      "Next": "SetupSaveCleanTicks",
      "Type": "Map",
      "MaxConcurrency": 1,
      "ItemsPath": "$.SaveRawTicks.batch_ids",
      "Parameters": {
        "batch_ids.$": "$$.Map.Item.Value"
      },  
      "ResultPath": "$.SaveRawTicks.results",
      "Iterator": {
        "StartAt": "MapInnerSaveRawTicks",
        "States": {
          "MapInnerSaveRawTicks": {
            "End": true,
            "Type": "Map",
            "MaxConcurrency": 1,
            "ItemsPath": "$.batch_ids",
            "Parameters": {
              "function": "save_raw_ticks",
              "batch_id.$": "$$.Map.Item.Value"
            },
            "Iterator": {
              "StartAt": "SaveRawTicks",
              "States": {
                "SaveRawTicks": {
                  "End": true,
                  "Type": "Task",
                  "Resource": "${Pipeline}"
                }
              }
            } 
          }
        }
      } 
    },
    "SetupSaveCleanTicks": {
      "Next": "MapSaveCleanTicks",
      "Type": "Task",
      "Resource": "${Pipeline}",
      "Parameters": {
          "function": "setup_save_clean_ticks",
          "stop.$": "$$.['stop', 'placeholder']",
          "overwrite.$": "$$.['overwrite', 'placeholder']"
      },
      "ResultPath": "$.SaveCleanTicks.batch_ids"
    },
    "MapSaveCleanTicks": {
      "Next": "SetupSaveCandlesFromTicks",
      "Type": "Map",
      "MaxConcurrency": 1,
      "ItemsPath": "$.SaveCleanTicks.batch_ids",
      "ResultPath": "$.SaveCleanTicks.results",
      "Parameters": {
        "batch_ids.$": "$$.Map.Item.Value"
      },  
      "Iterator": {
        "StartAt": "MapInnerSaveCleanTicks",
        "States": {
          "MapInnerSaveCleanTicks": {
            "End": true,
            "Type": "Map",
            "MaxConcurrency": 1,
            "ItemsPath": "$.batch_ids",
            "Parameters": {
              "function": "save_clean_ticks",
              "batch_id.$": "$$.Map.Item.Value"
            },
            "Iterator": {
              "StartAt": "SaveCleanTicks",
              "States": {
                "SaveCleanTicks": {
                  "End": true,
                  "Type": "Task",
                  "Resource": "${Pipeline}"
                }
              }
            } 
          }
        }
      } 
    },
    "SetupSaveCandlesFromTicks": {
      "Next": "MapSaveCandlesFromTicks",
      "Type": "Task",
      "Resource": "${Pipeline}",
      "Parameters": {
          "function": "setup_save_candles_from_ticks",
          "stop.$": "$$.['stop', 'placeholder']",
          "overwrite.$": "$$.['overwrite', 'placeholder']"
      },
      "ResultPath": "$.SaveCandlesFromTicks.batch_ids"
    },
    "MapSaveCandlesFromTicks": {
      "Next": "SetupSaveCandlesFFill",
      "Type": "Map",
      "MaxConcurrency": 1,
      "ItemsPath": "$.SaveCandlesFromTicks.batch_ids",
      "ResultPath": "$.SaveCandlesFromTicks.results",
      "Parameters": {
        "batch_ids.$": "$$.Map.Item.Value"
      },  
      "Iterator": {
        "StartAt": "MapInnerSaveCandlesFromTicks",
        "States": {
          "MapInnerSaveCandlesFromTicks": {
            "End": true,
            "Type": "Map",
            "MaxConcurrency": 1,
            "ItemsPath": "$.batch_ids",
            "Parameters": {
              "function": "save_candles_from_ticks",
              "batch_id.$": "$$.Map.Item.Value"
            },
            "Iterator": {
              "StartAt": "SaveCandlesFromTicks",
              "States": {
                "SaveCandlesFromTicks": {
                  "End": true,
                  "Type": "Task",
                  "Resource": "${Pipeline}"
                }
              }
            } 
          }
        }
      } 
    },
    "SetupSaveCandlesFFill": {
      "Next": "MapSaveCandlesFFill",
      "Type": "Task",
      "Resource": "${Pipeline}",
      "Parameters": {
          "function": "setup_save_candles_transformed",
          "name_dataset_in": "from_ticks",
          "name_dataset_out": "ffill",
          "function_names": ["ffill"],
          "stop.$": "$$.['stop', 'placeholder']",
          "overwrite.$": "$$.['overwrite', 'placeholder']"
      },
      "ResultPath": "$.SaveCandlesFFill.batch_ids"
    },
    "MapSaveCandlesFFill": {
      "End": true,
      "Type": "Map",
      "MaxConcurrency": 1,
      "ItemsPath": "$.SaveCandlesFFill.batch_ids",
      "ResultPath": "$.SaveCandlesFFill.results",
      "Parameters": {
        "batch_ids.$": "$$.Map.Item.Value"
      },  
      "Iterator": {
        "StartAt": "MapInnerSaveCandlesFFill",
        "States": {
          "MapInnerSaveCandlesFFill": {
            "End": true,
            "Type": "Map",
            "MaxConcurrency": 1,
            "ItemsPath": "$.batch_ids",
            "Parameters": {
              "function": "save_candles_transformed",
              "batch_id.$": "$$.Map.Item.Value"
            },
            "Iterator": {
              "StartAt": "SaveCandlesFFill",
              "States": {
                "SaveCandlesFFill": {
                  "End": true,
                  "Type": "Task",
                  "Resource": "${Pipeline}"
                }
              }
            } 
          }
        }
      } 
    }
  }
}